<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TCPSocketClient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>497648621C1AAF6B005A5598</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4976487B1C1AAF6B005A5598</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>497648861C1AAF6B005A5598</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
